.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}
button {
    font-size: 42;
    horizontal-align: center;
}
.login-page{
  background-color: #353d3f;
  padding: 8 16 8 16;
}
.login-button{
  margin: 40;
  background-color: #cfdd26;
}
.input-container {
    margin: 10 4 0 16;
}
.inner-container{
  margin-top: -10;
  margin-left: -4;
}
.input-label {
    color: #8F8F8F;
    font-size: 14;
}
.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
.header {
    font-size: 26;
    margin: 8 16 0 16;
}
.logo {
    horizontal-align: center;
    margin-top: 40
}
.edit-contact-country-container {
    padding: 16 16 16 20;
}
.list-picker{
  padding-top: -40;
  margin-top: -40;
}
